# Virtual environment
venv/
.venv/
venv-tf/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Data files
*.csv
*.xlsx
*.xls
*.parquet

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# OS / temporary files
*.tmp
*.temp

# text files
notes.txtnlp/1_nlp_classifier/single_label_classifiers/bert_goemotions_v1/
